<!DOCTYPE html>
<html>
    <head>
        <title>404</title>
        <link rel="icon" href="https://www.creativefabrica.com/wp-content/uploads/2021/03/31/weather-icon-illustration03-Graphics-10205167-1.jpg">
        <link rel="stylesheet" href="./css/styles.css"/>
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>{{errmsg}}</p>
        </div>
        {{>footer}}
    </body>

</html>