<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="icon" href="https://www.creativefabrica.com/wp-content/uploads/2021/03/31/weather-icon-illustration03-Graphics-10205167-1.jpg">
        <link rel="stylesheet" href="./css/styles.css"/>
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <img src="https://upload.wikimedia.org/wikipedia/commons/e/ef/Virat_Kohli_during_the_India_vs_Aus_4th_Test_match_at_Narendra_Modi_Stadium_on_09_March_2023.jpg" alt="" class="portrait"/>      
        </div>
        {{>footer}}  
    </body>

</html>